# Ignore pycache folders
__pycache__
*/__pycache__

# Folders not to be tracked
.devcontainer/
REINFORCE_policies/
SA_policies/

# Files not to be added to the remote repo
submission_app.py
ml4ce_rl.yml
